<div class="container">
    <form #registerForm="ngForm">
        <div [hidden]="errorMessage === ''"
             class="alert alert-danger">
            {{errorMessage}}
        </div>

        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            * 账户名称为必填项
        </div>
        <div class="form-group">
            <label for="name"> * 账户名称: </label>
            <input type="text" placeholder="输入账户名称" id="name" class="form-control"
                   [(ngModel)]="account.name" name="name"
                   #name="ngModel"
                   required/>
        </div>

        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            * 密码为必填项
        </div>
        <div class="form-group">
            <label for="password"> * 密码: </label>
            <input type="password" placeholder="输入密码" id="password" class="form-control"
                   [(ngModel)]="account.password" name="password"
                   #password="ngModel"
                   required/>
        </div>

        <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-danger">
            * 确认密码为必填项
        </div>
        <div class="form-group">
            <label for="confirmPassword"> * 再次确认: </label>
            <input type="password" placeholder="再次输入密码" id="confirmPassword" class="form-control"
                   [(ngModel)]="account.confirm" name="confirmPassword"
                   #confirmPassword="ngModel"
                   required/>
        </div>
        <hr>

        <button class="btn btn-success" [disabled]="!registerForm.form.valid" (click)="onSubmit()">注册</button>
    </form>
</div>